@use './common/variable' as *;
@import './common/mixin';
@import './common/reset.scss';
@import './common/common.scss';

#headBox{
  width: 100%; height: 150px;
  background-color: #ddd;
}

.content_area{
  width: 100%; height: 500px;
  background-color: #add;
}

#footBox{
  width: 100%; height: 150px; background-color: #aaa;
}